{%- for category in categories -%}
	<h1 class="navigation-headline">{{ category.label }}</h1>
	<ul>
		{%- for component in category.visibleComponents -%}
			<li>
			{%- if component is same as (currentComponent) -%}
				<strong>{{ component.label }}</strong>
			{%- else -%}
				<a href="{{ path("umbrella.component", {category: category.key, key: component.key}) }}">{{ component.label }}</a>
			{%- endif -%}
			</li>
		{%- endfor -%}
	</ul>
{%- endfor -%}
