<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>☂️ {{ component is defined and category is defined ? "#{component.label} • #{category.label}" : "Index" -}} • Umbrella</title>
		{{- assets_include(["@umbrella/css/umbrella.css"]) -}}
	</head>
	<body class="umbrella">
		<div class="site-layout">
			<div class="site-content {% block content_class "" %}">
				{%- block content "" -%}
			</div>
			<div class="site-navigation">
				{{- render(controller("Torr\\Umbrella\\Controller\\UmbrellaController::navigation", {
					currentComponent: component ?? null,
				})) -}}
			</div>
		</div>
	</body>
</html>
