@use "../helper/variables";
@use "../helper/mixins";

.site-layout {
    display: flex;
    height: 100%;
    width: 100%;

    .site-navigation {
        @include mixins.flex-fixed-width(variables.$sidebar-width);
    }

    .site-content {
        @include mixins.flex-fixed-width(calc(100% - #{variables.$sidebar-width}));

        &.is-index {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10rem;
        }
    }

    .site-preview {
        width: 100%;
        height: 100%;
    }
}
